<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" th:href="@{../frontEnd.css}">-->
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
            <img style="padding-right: 20px"  src="https://i.imgur.com/ufPqJzL.png" alt="Kurt Hansen Logo" height="50" width="273">
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/ansatInfo}" method="get">
                        <input style="height: 50px" class="btn btn-secondary" type="submit" value="Chauffører" />
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/kontorInfo}" method="get">
                    </form>
                    <input style="height: 50px" class="btn btn-secondary" type="submit" value="Kontormedarbejdere" />
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/courses}" method="get">
                        <input style="height: 50px" class="btn btn-secondary" type="submit" value="Ugeplan" />
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input style="height: 50px" class="btn btn btn-danger" type="submit" value="Sign Out" />
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>


<p >Hej</p>
<div th:if="${#request.isUserInRole('ROLE_CHAUFFØR')}">Chauffør kun!</div>

<a th:href="@{/ansatInfo}">
    <button>Chaufførere</button>
</a>
<a th:href="@{/kontorInfo}">
    <button>Kontormedarbejdere</button>
</a>
</body>
</html>