<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="stylesheet" th:href="@{../frontEnd.css}">-->
</head>
<body>
<header>
</header>
<a th:href="@{opgaveList/opretOpgave}">
    <button th:if="${#request.isUserInRole('ROLE_KONTOR')}">Opret Opgave</button>
</a>
<table>
    <thead>
    <tr>
        <th>Chauffør</th>
        <th>Prioritet</th>
        <th>Firma</th>
        <th>Kontaktperson</th>
        <th>Telefonnummer</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="opgave: ${opgaver}">
        <td th:text="${opgave.brugere}"/>
        <td th:text="${opgave.prioritet}"/>
        <td th:text="${opgave.firma}"/>
        <td th:text="${opgave.kontaktPerson}"/>
        <td th:text="${opgave.kundeTlf}"/>
        <td th:text="${opgave.email}"/>
        <td>
            <!--<a th:href="${'ansatInfo/redigerAnsat/' + bruger.id}">-->
                <!--<button th:if="${#request.isUserInRole('ROLE_ADMIN')}">Rediger Chauffør</button>-->
            <!--</a>-->
            <!--<a onclick="return confirm('Do you reject the students choice of courses?')" th:href="${'ansatInfo/ansatSlet/' + bruger.id}">-->
                <!--<button th:if="${#request.isUserInRole('ROLE_ADMIN')}">Slet Chauffør</button>-->
            <!--</a>-->
        <!--</td>-->
    </tr>
    </tbody>
</table>
</body>
</html>