<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >
    <div>
        <h1>Enter information</h1>
        <form method="Post" th:action="@{/ansatInfo/opretAnsat}">
            <div>
                <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                <label for="navn">Chauffør</label>
                <input type="text" class="form-control" id="navn" placeholder="Indast navn" th:field="${bruger.navn}"
                       required="true"/>
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Enter email" th:field="${bruger.email}"
                       required="true"/>
                <select th:field="${bruger.rolle}">
                    <option
                            th:text="${course.engName}"
                    ></option>
                </select>
            </div>


            <button type="submit" class="btn btn-outline-success">Save</button>
            <button type="reset" class="btn btn-outline-danger">Reset</button>
        </form>
    </div>
</div>

</body>
</html>