<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <img style="padding-right: 20px"  src="https://i.imgur.com/ufPqJzL.png" alt="Kurt Hansen Logo" height="50" width="273">
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/ansatInfo}" method="get">
                        <input style="height: 50px" class="btn btn-secondary" type="submit" value="Chauffører" />
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/kontorInfo}" method="get">
                        <input style="height: 50px" class="btn btn-secondary" type="submit" value="Kontormedarbejdere" />
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/opgaveList}" method="get">
                        <input style="height: 50px" class="btn btn-secondary" type="submit" value="Ugeplan" />
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input style="height: 50px" class="btn btn btn-danger" type="submit" value="Sign Out" />
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="container" style="width: 50%">
    <div class="form-group">
        <div>
            <h1>Opret Ansat</h1>
            <form method="Post" th:action="@{/ansatInfo/opretAnsat}">
                <div>
                    <label for="navn">Chauffør</label>
                    <input class="form-control" type="text"  id="navn" placeholder="Indast navn" th:field="${bruger.navn}"
                           required="true"/>
                    <p></p>
                    <label for="email">Email</label>
                    <input class="form-control" type="text"  id="email" placeholder="Enter email" th:field="${bruger.email}"
                           required="true"/>
                    <p></p>
                    <label for="nummer">Telefonnummer</label>
                    <input class="form-control" type="number"  id="nummer" min="1" max="99999999" placeholder="0"
                           th:field="${bruger.nummer}" required="true"/>
                    <p></p>
                    <select th:field="${bruger.rolle}">
                        <option value="ROLE_CHAUFFØR">Chauffør</option>
                        <option value="ROLE_KONTOR">Kontormedarbejder</option>
                    </select>
                    <select th:field="${bruger.aktiv}">
                        <option value="1">Aktiv</option>
                        <option value="2">Inaktiv</option>
                    </select>
                    <p></p>
                    <label for="brugernavn">Brugernavn</label>
                    <input class="form-control" type="text"  id="brugernavn" placeholder="Indast brugernavn" th:field="${bruger.brugernavn}"
                           required="true"/>
                    <p></p>
                    <label for="password">Password</label>
                    <input class="form-control" type="text"  id="password" placeholder="Indast password" th:field="${bruger.password}"
                           required="true"/>
                </div>

                <p></p>
                <button style="color: green" type="submit">Save</button>
                <button style="color: red" type="reset">Reset</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>