<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <img style="padding-right: 20px"  src="https://i.imgur.com/ufPqJzL.png" alt="Kurt Hansen Logo" height="50" width="273">
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/ansatInfo}" method="get">
                        <input style="height: 50px" class="btn btn-secondary" type="submit" value="Chauffører" />
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/kontorInfo}" method="get">
                        <input style="height: 50px" class="btn btn-secondary" type="submit" value="Kontormedarbejdere" />
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/opgaveList}" method="get">
                        <input style="height: 50px" class="btn btn-secondary" type="submit" value="Ugeplan" />
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input style="height: 50px" class="btn btn btn-danger" type="submit" value="Log ud" />
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container" style="width: 50%">
    <div>
        <h1>Opret opgave</h1>
        <form class="" method="Post" th:action="@{/opgaveList/opretOpgave}">
            <div class="form-group">
                <label>Chauffør</label>
                <select class="form-control" th:field="${opgave.brugere}">
                    <option
                            th:if="${bruger.rolle}== ROLE_CHAUFFØR"
                            th:each="bruger : ${brugere}"
                            th:value="${bruger.id}"
                            th:text="${bruger.navn}"
                    ></option>
                </select>
                <label>Prioritet</label>
                <select class="form-control" th:field="${opgave.prioritet}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <label for="adresse">Adresse</label>
                <input class="form-control" type="text"  id="adresse" placeholder="Indtast adresse" th:field="${opgave.adresse}"
                       required="true"/>
                <label for="firma">Firma</label>
                <input class="form-control" type="text"  id="firma" placeholder="Indtast firma navn" th:field="${opgave.firma}"
                       required="true"/>
                <label for="kontaktperson">Kontaktperson</label>
                <input class="form-control" type="text"  id="kontaktperson" placeholder="Indtast navn" th:field="${opgave.kontaktPerson}"
                       required="true"/>
                <label for="kundeTlf">Telefonnummer</label>
                <input class="form-control" type="number"  id="kundeTlf" min="1" max="99999999" placeholder="0"
                       th:field="${opgave.kundeTlf}" required="true"/>
                <label for="email">Email</label>
                <input class="form-control" type="text"  id="email" placeholder="Indtast email" th:field="${opgave.email}"
                       required="true"/>
                <label>Vælg dag</label>
                <select class="form-control" th:field="${opgave.dag}">
                    <option value="Mandag">Mandag</option>
                    <option value="Tirsdag">Tirsdag</option>
                    <option value="Onsdag">Onsdag</option>
                    <option value="Torsdag">Torsdag</option>
                    <option value="Fredag">Fredag</option>
                </select>
                <label for="transportType">Transport Type</label>
                <input class="form-control" type="text"  id="transportType" placeholder="Indtast type af transport" th:field="${opgave.transportType}"
                       required="true"/>
            </div>


            <button type="submit" class="btn btn-success">Gem</button>
            <button type="reset" class="btn btn-danger">Fotryd indtastning</button>
        </form>
    </div>
</div>

</body>
</html>